/*Domingo-02*/
ul.album-fotos li#foto01 {
  background: url('../img/atracoes/alto-do-moura/dom-02/forro-quentao.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto02 {
  background: url('../img/atracoes/alto-do-moura/dom-02/aldemario-coelho.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto03 {
  background: url('../img/atracoes/alto-do-moura/dom-02/geraldinho-lins.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-08*/
ul.album-fotos li#foto04 {
  background: url('../img/atracoes/alto-do-moura/sab-08/aquarius.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto05 {
  background: url('../img/atracoes/alto-do-moura/sab-08/capital-do-sol.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto06 {
  background: url('../img/atracoes/alto-do-moura/sab-08/santana.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-09*/
ul.album-fotos li#foto07 {
  background: url('../img/atracoes/alto-do-moura/dom-09/big-band.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto08 {
  background: url('../img/atracoes/alto-do-moura/dom-09/humberto-bonny.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-15*/
ul.album-fotos li#foto09 {
  background: url('../img/atracoes/alto-do-moura/sab-15/gitana-pimentel.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto10 {
  background: url('../img/atracoes/alto-do-moura/sab-15/amazan.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto11 {
  background: url('../img/atracoes/alto-do-moura/sab-15/novinho-da-paraiba.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-16*/
ul.album-fotos li#foto12 {
  background: url('../img/atracoes/alto-do-moura/dom-16/targino-gondim.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto13 {
  background: url('../img/atracoes/alto-do-moura/dom-16/nadia-maia.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto14 {
  background: url('../img/atracoes/alto-do-moura/dom-16/caninana.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-22*/
ul.album-fotos li#foto15 {
  background: url('../img/atracoes/alto-do-moura/sab-22/renan-cruz.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto16 {
  background: url('../img/atracoes/alto-do-moura/sab-22/silvana-salazar.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto17 {
  background: url('../img/atracoes/alto-do-moura/sab-22/alex-junior.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-23*/
ul.album-fotos li#foto18 {
  background: url('../img/atracoes/alto-do-moura/dom-23/sebastian-silva.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto19 {
  background: url('../img/atracoes/alto-do-moura/dom-23/brucelose.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto20 {
  background: url('../img/atracoes/alto-do-moura/dom-23/maciel-melo.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Segunda-24*/
ul.album-fotos li#foto21 {
  background: url('../img/atracoes/alto-do-moura/seg-24/renilda-cardoso.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto22 {
  background: url('../img/atracoes/alto-do-moura/seg-24/alysson.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto23 {
  background: url('../img/atracoes/alto-do-moura/seg-24/edu-e-maraial.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-29*/
ul.album-fotos li#foto24 {
  background: url('../img/atracoes/alto-do-moura/sab-29/pv-calado.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto25 {
  background: url('../img/atracoes/alto-do-moura/sab-29/vicente-nery.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto26 {
  background: url('../img/atracoes/alto-do-moura/sab-29/capim-com-mel.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}
