/*Sexta-07*/
ul.album-fotos li#foto01 {
  background: url('../img/atracoes/azulao/sex-07/trajano.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto02 {
  background: url('../img/atracoes/azulao/sex-07/edson-gomes.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto03 {
  background: url('../img/atracoes/azulao/sex-07/paulo-miklos.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-08*/
ul.album-fotos li#foto04 {
  background: url('../img/atracoes/azulao/sab-08/almerio.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto05 {
  background: url('../img/atracoes/azulao/sab-08/sandra-sa.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto06 {
  background: url('../img/atracoes/azulao/sab-08/tony-maciel.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-09*/
ul.album-fotos li#foto07 {
  background: url('../img/atracoes/azulao/dom-09/erisson-porto.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto08 {
  background: url('../img/atracoes/azulao/dom-09/maestro-mozart-vieira.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto09 {
  background: url('../img/atracoes/azulao/dom-09/quinteto-violado.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sexta-14*/
ul.album-fotos li#foto10 {
  background: url('../img/atracoes/azulao/sex-14/alkymenia.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto11 {
  background: url('../img/atracoes/azulao/sex-14/sangue-de-barro.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto12 {
  background: url('../img/atracoes/azulao/sex-14/uptown-blues-band.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-15*/
ul.album-fotos li#foto13 {
  background: url('../img/atracoes/azulao/sab-15/gerlane-lopes.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto14 {
  background: url('../img/atracoes/azulao/sab-15/jorge-aragao.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto15 {
  background: url('../img/atracoes/azulao/sab-15/sambar-e-love.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-16*/
ul.album-fotos li#foto16 {
  background: url('../img/atracoes/azulao/dom-16/silverio-pessoa.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto17 {
  background: url('../img/atracoes/azulao/dom-16/joao-do-pife.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto18 {
  background: url('../img/atracoes/azulao/dom-16/anastacia-e-daniel-gonzaga.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Quinta-20*/
ul.album-fotos li#foto19 {
  background: url('../img/atracoes/azulao/qui-20/carla-alves.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto20 {
  background: url('../img/atracoes/azulao/qui-20/conde.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto21 {
  background: url('../img/atracoes/azulao/qui-20/sheldon.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sexta-21*/
ul.album-fotos li#foto22 {
  background: url('../img/atracoes/azulao/sex-21/gilvan-neves.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto23 {
  background: url('../img/atracoes/azulao/sex-21/joana-angelica.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto24 {
  background: url('../img/atracoes/azulao/sex-21/walmir-silva.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-22*/
ul.album-fotos li#foto25 {
  background: url('../img/atracoes/azulao/sab-22/sombra-dos-anjos.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto26 {
  background: url('../img/atracoes/azulao/sab-22/funky-monks.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto27 {
  background: url('../img/atracoes/azulao/sab-22/interrogacao.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-23*/
ul.album-fotos li#foto28 {
  background: url('../img/atracoes/azulao/dom-23/andre-rio.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto29 {
  background: url('../img/atracoes/azulao/dom-23/cascabulho.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto30 {
  background: url('../img/atracoes/azulao/dom-23/pifanos.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Segunda-24*/
ul.album-fotos li#foto31 {
  background: url('../img/atracoes/azulao/seg-24/buchecha.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto32 {
  background: url('../img/atracoes/azulao/seg-24/los-cubanos.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto33 {
  background: url('../img/atracoes/azulao/seg-24/mamonas-assassinas.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sexta-28*/
ul.album-fotos li#foto34 {
  background: url('../img/atracoes/azulao/sex-28/colibri.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto35 {
  background: url('../img/atracoes/azulao/sex-28/cris-mendes.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto36 {
  background: url('../img/atracoes/azulao/sex-28/olodum.jpeg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}