span {
  border-botton: 1px solid #fff;
}

/*Sábado-01*/
ul.album-fotos li#foto01 {
  background: url('../img/atracoes/luiz-gonzaga/sab-01/carlinhos-brown.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto02 {
  background: url('../img/atracoes/luiz-gonzaga/sab-01/flavio-jose.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto03 {
  background: url('../img/atracoes/luiz-gonzaga/sab-01/jorge-de-altinho.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto04 {
  background: url('../img/atracoes/luiz-gonzaga/sab-01/mano-walter.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-02*/
ul.album-fotos li#foto05 {
  background: url('../img/atracoes//luiz-gonzaga/dom-02/limao-com-mel.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto06 {
  background: url('../img/atracoes/luiz-gonzaga/dom-02/priscila-senna.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto07 {
  background: url('../img/atracoes/luiz-gonzaga/dom-02/leo-santana.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto08 {
  background: url('../img/atracoes/luiz-gonzaga/dom-02/cavaleiros-do-forro.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Quinta-06*/
ul.album-fotos li#foto09 {
  background: url('../img/atracoes//luiz-gonzaga/qui-06/ariana-arydes.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto10 {
  background: url('../img/atracoes/luiz-gonzaga/qui-06/thiago-brado.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sexta-07*/
ul.album-fotos li#foto11 {
  background: url('../img/atracoes//luiz-gonzaga/sex-07/joelma.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto12 {
  background: url('../img/atracoes/luiz-gonzaga/sex-07/elba-ramalho.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto13 {
  background: url('../img/atracoes/luiz-gonzaga/sex-07/a-vontade.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-08*/
ul.album-fotos li#foto14 {
  background: url('../img/atracoes/luiz-gonzaga/sab-08/batista-lima.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto15 {
  background: url('../img/atracoes/luiz-gonzaga/sab-08/bell-marques.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto16 {
  background: url('../img/atracoes/luiz-gonzaga/sab-08/henrique-juliano.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-09*/
ul.album-fotos li#foto17 {
  background: url('../img/atracoes/luiz-gonzaga/dom-09/samya-maia.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto18 {
  background: url('../img/atracoes/luiz-gonzaga/dom-09/tarcisio-do-acordeon.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto19 {
  background: url('../img/atracoes/luiz-gonzaga/dom-09/mastruz-com-leite.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto20 {
  background: url('../img/atracoes/luiz-gonzaga/dom-09/dorgival-dantas.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Quarta-12*/
ul.album-fotos li#foto21 {
  background: url('../img/atracoes/luiz-gonzaga/qua-12/roupa-nova.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto22 {
  background: url('../img/atracoes/luiz-gonzaga/qua-12/calcinha-preta.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto23 {
  background: url('../img/atracoes/luiz-gonzaga/qua-12/amado-batista.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto24 {
  background: url('../img/atracoes/luiz-gonzaga/qua-12/double-you.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Quinta-13*/
ul.album-fotos li#foto25 {
  background: url('../img/atracoes/luiz-gonzaga/qui-13/bruna-soneli.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto26 {
  background: url('../img/atracoes/luiz-gonzaga/qui-13/yonara.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto27 {
  background: url('../img/atracoes/luiz-gonzaga/qui-13/isaias-saad.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto28 {
  background: url('../img/atracoes/luiz-gonzaga/qui-13/davi-sacer.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sexta-14*/
ul.album-fotos li#foto29 {
  background: url('../img/atracoes//luiz-gonzaga/sex-14/wallas-arraes.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto30 {
  background: url('../img/atracoes/luiz-gonzaga/sex-14/tropykalia.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto31 {
  background: url('../img/atracoes/luiz-gonzaga/sex-14/alcymar-monteiro.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto32 {
  background: url('../img/atracoes/luiz-gonzaga/sex-14/claudia-leitte.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-15*/
ul.album-fotos li#foto33 {
  background: url('../img/atracoes//luiz-gonzaga/sab-15/calango-aceso.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto34 {
  background: url('../img/atracoes/luiz-gonzaga/sab-15/iguinho-lulinha.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto35 {
  background: url('../img/atracoes/luiz-gonzaga/sab-15/henry-freitas.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto36 {
  background: url('../img/atracoes/luiz-gonzaga/sab-15/ivete-sangalo.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-16*/
ul.album-fotos li#foto37 {
  background: url('../img/atracoes/luiz-gonzaga/dom-16/rafaela-santos.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto38 {
  background: url('../img/atracoes/luiz-gonzaga/dom-16/simone-mendes.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto39 {
  background: url('../img/atracoes/luiz-gonzaga/dom-16/solange-almeida.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}


/*Quinta-20*/
ul.album-fotos li#foto40 {
  background: url('../img/atracoes//luiz-gonzaga/qui-20/manu-batidao.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto41 {
  background: url('../img/atracoes/luiz-gonzaga/qui-20/menos-e-mais.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto42 {
  background: url('../img/atracoes/luiz-gonzaga/qui-20/hugo-e-guilherme.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sexta-21*/
ul.album-fotos li#foto43 {
  background: url('../img/atracoes//luiz-gonzaga/sex-21/beto-barbosa.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto44 {
  background: url('../img/atracoes/luiz-gonzaga/sex-21/nathalia-calasans.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto45 {
  background: url('../img/atracoes/luiz-gonzaga/sex-21/raca-negra.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto46 {
  background: url('../img/atracoes/luiz-gonzaga/sex-21/maiara-e-maraisa.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-22*/
ul.album-fotos li#foto47 {
  background: url('../img/atracoes//luiz-gonzaga/sab-22/benil.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto48 {
  background: url('../img/atracoes/luiz-gonzaga/sab-22/luan-santana.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto49 {
  background: url('../img/atracoes/luiz-gonzaga/sab-22/matue.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto50 {
  background: url('../img/atracoes/luiz-gonzaga/sab-22/matheus-e-kauan.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Domingo-23*/
ul.album-fotos li#foto51 {
  background: url('../img/atracoes//luiz-gonzaga/dom-23/magnificos.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto52 {
  background: url('../img/atracoes/luiz-gonzaga/dom-23/matheus-fernandez.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto53 {
  background: url('../img/atracoes/luiz-gonzaga/dom-23/ze-neto-e-cristiano.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Segunda-24*/
ul.album-fotos li#foto54 {
  background: url('../img/atracoes/luiz-gonzaga/seg-24/petrucio-amorim.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto55 {
  background: url('../img/atracoes/luiz-gonzaga/seg-24/alok.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto56 {
  background: url('../img/atracoes/luiz-gonzaga/seg-24/joao-gomes.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sexta-28*/
ul.album-fotos li#foto57 {
  background: url('../img/atracoes//luiz-gonzaga/sex-28/israel-filho.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto58 {
  background: url('../img/atracoes/luiz-gonzaga/sex-28/caviar-com-rapadura.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto59 {
  background: url('../img/atracoes/luiz-gonzaga/sex-28/bruno-e-marrone.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

/*Sábado-29*/
ul.album-fotos li#foto60 {
  background: url('../img/atracoes//luiz-gonzaga/sab-29/gustavo-mioto.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto60a {
  background: url('../img/atracoes//luiz-gonzaga/sab-29/douglas-leon.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}

ul.album-fotos li#foto61 {
  background: url('../img/atracoes/luiz-gonzaga/sab-29/cesar-menotti-e-fabiano.jpg') no-repeat;
  border-radius: 50px;
  background-position: 50% 50%;
  background-size: 80px 80px;
}
